.gelenkutusu {
    text-align: center;
    background-color: white;
    height: 350px;
  }

  .gelenkutusu h2::before {
    content: "\1F4AC"; /* Mesaj emojisi unicode kodu */
    font-size: 30px;
    margin-right: 10px;
    float: initial;
  }
  .gelenkutusu h2::after {
    content: "\1F4AC";      /* Mesaj emojisi unicode kodu */
    font-size: 30px;
    margin-right: 10px;
    float: initial;
  } 
  .gelenkutusu label::before {
    content: "Poliklinik ";
    font-weight: bold;
    margin-right: 5px;
  }
  
  .gelenkutusu form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gelenkutusu label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .gelenkutusu select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 3px solid rgb(106, 11, 11); /* Kenar rengi kırmızı olarak ayarlandı */
    border-radius: 4px;
  }
  
  .gelenkutusu select option {
    font-size: 14px;
  }

 .Listele {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009936;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .Listele:hover {
    background-color:#9b0000 ;
  }
  
  .Listele:active {
    background-color:  #1605af;
  }
  .sorulistele{

background-color: #00594f;


  }

  .soru_ortala {
    text-align: center;
  }
  .soru_ortala {
    width: 600px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 500px;
    height: 100px;
    resize: vertical;
  }
  

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
