.gelenkutusu {
    text-align: center;
    background-color: white;
    height: 450px;
  }

  .gelenkutusu h2::before {
    content: "\1F4AC"; /* Mesaj emojisi unicode kodu */
    font-size: 30px;
    margin-right: 10px;
    float: initial;
  }
  .gelenkutusu h2::after {
    content: "\1F4AC";      /* Mesaj emojisi unicode kodu */
    font-size: 30px;
    margin-right: 10px;
    float: initial;
  } 
  
  .gelenkutusu form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gelenkutusu label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .gelenkutusu select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .gelenkutusu select option {
    font-size: 14px;
  }

 .Listele {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9b0000;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .Listele:hover {
    background-color: #009936;
  }
  
  .Listele:active {
    background-color:  #1605af;
  }
  